src/main/resources/students.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.org/webservice/students"
           xmlns:tns="http://example.org/webservice/students"
           elementFormDefault="qualified">

    <xs:complexType name="StudentType">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="department" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="GetStudentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetStudentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="student" type="tns:StudentType" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>